.normal>button {
    padding: 1.2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1.5em;
    color: white;
}

.normal>button:hover {
    padding: 1.15rem;
    background-color: var(--dark);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
